# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore image example folders
Obligatorio2/cripto_imagenes_ppm/
Obligatorio2/imagenes_ppm/
Obligatorio2/imagenes
Obligatorio2/imagenes_ppm
Obligatorio2/logs
Obligatorio2/test_funciones

# Ignore all object files
*.o

# Ignore bash files
*.sh

# Unignore Makefiles
!Makefile


